<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center justify-content-between" do %>
    <%= image_tag "logo/buoy.png" %>
    <h3 id="logo-title" class="ml-3 mb-0 text-display">book a boat</h3>
  <% end %>
  <% if current_user %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-4">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, width: "40", height: "40", class: "rounded-circle" %>
            <% else %>
              <i class="far fa-user"></i>
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to dashboard_path do %>
              <div class="dropdown-item" >Dashboard</div>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <div class="dropdown-item" >Log out</div>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  <% else %>
    <%= link_to new_user_registration_path, class: "navbar-btn btn btn-success d-flex justify-content-between align-items-center" do %>
      <p class="letter-spacing mb-0">Sign up</p>
    <% end %>
  <% end %>
</div>
