<div class="banner-homepage d-flex justify-content-between align-items-center" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(<%= image_path("banner/beach.png") %>);">
  <div class="banner-container">
    <h3 class="slogan text-center">Go boating and experience the best holiday of your life!</h3>
    <form>
      <div class="search-bar row d-flex align-items-center justify-content-around">
        <div class="col col-padding  col-margin category-search">
          <select class="form-control input-border input-focus first-input" placeholder="Category">
            <option value="">Category</option>
            <% ship_category = [] %>
            <% @ships.each do |ship| %>
              <% ship_category << ship.category %>
              <% ship_category.uniq! %>
            <% end %>
            <% ship_category.each do |category| %>
              <option value="<%= category.downcase.split(" ").join("-")%>"><%= category %></option>
            <% end %>
          </select>
        </div>
        <div class="input-separation">|</div>
        <%# <div class="col col-padding col-margin">
          <input type="date" class="form-control input-border input-focus" placeholder="Boarding">
        </div>
        <div class="col col-padding  col-margin">
          <input type="date" class="form-control input-border input-focus" placeholder="Landing">
        </div> %>
        <div class="col col-padding col-margin">
          <input type="text" class="form-control input-focus" placeholder="Location" id="ship_address">
        </div>
        <div class="col col-padding search-btn-container">
          <%= link_to root_path, class: "search-link" do %>
            <i class="material-icons btn btn-success rounded-circle search-btn">sailing</i>
          <% end %>
        </div>
      </div>
    </form>
  </div>
</div>
<%# POPULAR %>
<div class="container popular">
  <h2 class="text-center my-3">Popular boats</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card"><a href="#"><%= image_tag "ships/barque_6.jpg", class: "card-img w-100 d-block" %></a>
        <div class="card-img-overlay">
          <h4 class="text-center">My amazing bark</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card"><a href="#"><%= image_tag "ships/boat_5.jpg", class: "card-img w-100 d-block" %></a>
        <div class="card-img-overlay">
          <h4 class="text-center">A great boat</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card"><a href="#"><%= image_tag "ships/yacht.jpg", class: "card-img w-100 d-block" %></a>
        <div class="card-img-overlay">
          <h4 class="text-center">What a yacht!</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<%# CATEGORIES %>
<div class="container mt-5">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Cabin cruiser"), class:"card-hover" do %>
          <%= image_tag("categories/boat-1.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Cabin</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Yacht"), class:"card-hover" do %>
          <%= image_tag("categories/yatch-1.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Yacht</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Bark"), class:"card-hover" do %>
          <%= image_tag("categories/boat-2.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Bark</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Container carrier"), class:"card-hover" do %>
          <%= image_tag("categories/cargo-ship.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Container</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Catamaran"), class:"card-hover" do %>
          <%= image_tag("categories/sailboat.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Catamaran</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Pirate boat"), class:"card-hover" do %>
          <%= image_tag("categories/ship.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Pirate</p>
    </div>
  </div>
</div>
<%# Want to lease your boat? %>
<div class="lease-card d-flex flex-column justify-content-center align-items-center" style="background-image: url(https://cdn.dribbble.com/users/7523955/screenshots/15709833/media/a3e93f3a41d983d57bc50410e2c5dbf6.jpg?compress=1&resize=1600x1200);">
  <h2 class="lease-text mb-5">Want to lease your boat? Nothing more simple!</h2>
  <%= link_to new_ship_path, class: "btn-lease btn btn-success" do %>
    <p class="letter-spacing mb-0">Lease your ship</p>
  <% end %>
</div>
<%# TESTIMONIAL %>
<section class="projects-horizontal"></section>
<section class="testimonials-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Testimonials </h2>
      <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
        </div>
        <div class="author"><img class="rounded-circle" src="assets/authors/1.jpg">
          <h5 class="name">Ben Johnson</h5>
          <p class="title">CEO of Company Inc.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
        </div>
        <div class="author"><img class="rounded-circle" src="assets/authors/3.jpg">
          <h5 class="name">Carl Kent</h5>
          <p class="title">Founder of Style Co.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
        </div>
        <div class="author"><img class="rounded-circle" src="assets/authors/2.jpg">
          <h5 class="name">Emily Clark</h5>
          <p class="title">Owner of Creative Ltd.</p>
        </div>
      </div>
    </div>
  </div>
</section>
