<div class="banner-homepage d-flex justify-content-between align-items-center" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(<%= image_path("banner/beach.png") %>);">
  <div class="banner-container">
    <h3 class="slogan text-center">Go boating and experience the best holiday of your life!</h3>

    <%= simple_form_for :index, url: ships_path, method: "GET" do |f| %>
      <div class="search-bar d-flex justify-content-between">
        <%= f.select :category, options_for_select(@ships.pluck(:category).uniq), input_html: { class: 'input-focus' }, prompt: 'Category' %>
        <div class="input-separation">|</div>
        <%= f.input :address, input_html: {id:"ship_address", class: 'input-focus input-location'}, placeholder: 'Location', label: false %>
        <%= button_tag type: "submit", class: "btn btn-success rounded-circle search-btn" do %>
          <i class="material-icons">sailing</i>
        <% end %>
      </div>
    <% end %>


  </div>
</div>
<%# POPULAR %>
<div class="container popular">
  <h2 class="text-center my-3">Popular boats</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card"><a href="#"><%= image_tag "ships/barque_6.jpg", class: "card-img w-100 d-block" %></a>
        <div class="card-img-overlay">
          <h4 class="text-center">My amazing bark</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card"><a href="#"><%= image_tag "ships/boat_5.jpg", class: "card-img w-100 d-block" %></a>
        <div class="card-img-overlay">
          <h4 class="text-center">A great boat</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card"><a href="#"><%= image_tag "ships/yacht.jpg", class: "card-img w-100 d-block" %></a>
        <div class="card-img-overlay">
          <h4 class="text-center">What a yacht!</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<%# CATEGORIES %>
<div class="container mt-5" id="category-container">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6" style="height: 350px;">
    <div class="col mb-4 mt-4 d-flex flex-column justify-content-center align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Cabin cruiser"), class:"card-hover" do %>
          <%= image_tag("categories/boat-1.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Cabin</p>
    </div>
    <div class="col mb-4 mt-4 d-flex flex-column justify-content-center align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Yacht"), class:"card-hover" do %>
          <%= image_tag("categories/yatch-1.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Yacht</p>
    </div>
    <div class="col mb-4 mt-4 d-flex flex-column justify-content-center align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Bark"), class:"card-hover" do %>
          <%= image_tag("categories/boat-2.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Bark</p>
    </div>
    <div class="col mb-4 mt-4 d-flex flex-column justify-content-center align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Container carrier"), class:"card-hover" do %>
          <%= image_tag("categories/cargo-ship.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Container</p>
    </div>
    <div class="col mb-4 mt-4 d-flex flex-column justify-content-center align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Catamaran"), class:"card-hover" do %>
          <%= image_tag("categories/sailboat.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Catamaran</p>
    </div>
    <div class="col mb-4 mt-4 d-flex flex-column justify-content-center align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Pirate boat"), class:"card-hover" do %>
          <%= image_tag("categories/ship.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Pirate</p>
    </div>
  </div>
</div>
<%# Want to lease your boat? %>
<div class="lease-card d-flex flex-column justify-content-center align-items-center" style="background-image: url(https://cdn.dribbble.com/users/7523955/screenshots/15709833/media/a3e93f3a41d983d57bc50410e2c5dbf6.jpg?compress=1&resize=1600x1200);">
  <h2 class="lease-text mb-5">Want to lease your boat? Nothing more simple!</h2>
  <%= link_to new_ship_path, class: "btn-lease btn btn-success" do %>
    <p class="letter-spacing mb-0">Lease your ship</p>
  <% end %>
</div>
<%# TESTIMONIAL %>
<section class="projects-horizontal"></section>
<section class="testimonials-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Testimonials </h2>
      <p class="text-center"> ❤️ Our customers love us and we love them! ❤️ <br> Read what they have to say below ▿ <br> A big thank you to our 5000+ customers all over the world! </p>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">Book a boat is THE application to find a great boat in a matter of minutes! My son offered me a gift card for 3 rentals, what a great gift!</p>        </div>
        <div class="author"><img class="rounded-circle" src="assets/authors/1.jpg">
          <h5 class="name">Ben Johnson</h5>
          <p class="title">CEO of Company Inc.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">Now I can try a new boat every weekend AND earn some money when I rent out my own ! Thank you BaB ⛵️ </p>
        </div>
        <div class="author"><img class="rounded-circle" src="assets/authors/3.jpg">
          <h5 class="name">Carl Kent</h5>
          <p class="title">Founder of Style Co.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box">
          <p class="description">BaB's customer service has always been pleasant, they really strive to make us happy. Reliable & effective 24/7! </p>
        </div>
        <div class="author"><img class="rounded-circle" src="assets/authors/2.jpg">
          <h5 class="name">Emily Clark</h5>
          <p class="title">Owner of Creative Ltd.</p>
        </div>
      </div>
    </div>
  </div>
</section>
