<div class="banner-homepage d-flex justify-content-between align-items-center" style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(<%= image_path("banner/beach.png") %>);">
  <div class="banner-container">
    <h3 class="slogan text-center">Go boating and experience the best holiday of your life!</h3>
    <form>
      <div class="search-bar row d-flex align-items-center justify-content-around">
        <div class="col col-padding">
          <select class="form-control input-border" placeholder="Category">
            <option value="">Category</option>
            <% ship_category = [] %>
            <% @ships.each do |ship| %>
              <% ship_category << ship.category %>
              <% ship_category.uniq! %>
            <% end %>
            <% ship_category.each do |category| %>
              <option value="<%= category.downcase.split(" ").join("-")%>"><%= category %></option>
            <% end %>
          </select>
        </div>
        <div class="col col-padding">
          <input type="date" class="form-control input-border" placeholder="Boarding">
        </div>
        <div class="col col-padding">
          <input type="date" class="form-control input-border" placeholder="Landing">
        </div>
        <div class="col col-padding">
          <input type="text" class="form-control" placeholder="Location">
        </div>
        <div class="col col-padding search-btn-container">
          <%= link_to root_path, class: "search-link" do %>
            <i class="material-icons btn btn-success rounded-circle search-btn">sailing</i>
          <% end %>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container mt-5">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Cabin cruiser"), class:"card-hover" do %>
          <%= image_tag("categories/boat-1.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Cabin</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Yacht"), class:"card-hover" do %>
          <%= image_tag("categories/yatch-1.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Yacht</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Bark"), class:"card-hover" do %>
          <%= image_tag("categories/boat-2.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Bark</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Container carrier"), class:"card-hover" do %>
          <%= image_tag("categories/cargo-ship.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Container</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Catamaran"), class:"card-hover" do %>
          <%= image_tag("categories/sailboat.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Catamaran</p>
    </div>
    <div class="col mb-4 d-flex flex-column justify-content-around align-items-center">
      <div class="card category-size">
        <%= link_to ships_path(category: "Pirate boat"), class:"card-hover" do %>
          <%= image_tag("categories/ship.png", class:"card-img-top") %>
        <% end %>
      </div>
      <p class="category-text">Pirate</p>
    </div>
  </div>

</div>
