<div class='container'>
  <%= simple_form_for @ship do |f| %>
    <%= f.input :name %>
    <%= f.input :category, :collection => ["Boat", "Cruise", "Pirate boat", "Yacht", "Pedal boat", "Rowboat", "Bark", "Catamaran", "Countainer carrier", "Paper boat", "Flamingo boat", "Vessel", "Sailboat", "Optimist", "Laser", "Sailing Regatta", "Jet Boats", "Cabin Cruisers"] %>
    <%= f.input :daily_price %>
    <%= f.input :city %>
    <%= f.input :docking_number %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, "Confirm Edit", class: "btn btn-primary btn-lg btn-block btn-booking" %>
  <% end %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_delete_confirmation">
    <%= "Delete #{@ship.name}" %>
  </button>
  <%= render 'shared/modal_delete_confirmation', ship: @ship %>
</div>
