<div class='container d-flex flex-column align-items-center'>
  <% if @ships[0].nil? %>
    <div class="d-flex flex-column align-items-center">
      <h3 class="mb-5" style="text-align: center; padding-top: 20px">There are no boats in this category yet... 🔜</h1>
      <img style="margin: auto;" src="https://media.giphy.com/media/cjzkCDL3jZTZB6ki1B/giphy.gif">
    </div>
  <% else %>
    <h1 class="mt-5 mb-5" style="text-align: center;">⛵ <%= @ships[0].category %>s ⛵</h1>
  <% end %>
  <div class="row row-cols-1 row-cols-lg-3 justify-content-center">
    <% @ships.each do |ship| %>
      <div class="col mb-5" style="padding: 0 20px;">
        <div class="card h-100" style="box-shadow: 0 0 15px rgba(0,0,0,0.2);">
          <% if ship.photos.attached? %>
            <%= cl_image_tag ship.photos.first.key, class:"card-img-top", style:"height: 50%; object-fit: cover;" %>
          <% else %>
            <img class="card-img-top" src="<%= image_path("categories/sailing.png") %>" alt="Card image cap" style= "height: 50%; object-fit: cover;">
          <% end %>
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title"><%= ship.name %></h5>
            <div class="card-footer text-muted flex-grow-1 mb-3 d-flex flex-column justify-content-between">
              <p><i class="fas fa-ship mr-2" style="color:#FB743C;"></i> <%= ship.category %></p>
              <p><i class="fas fa-coins mr-2" style="color:#FB743C;"></i> <%= ship.daily_price%>€ / day</p>
              <p><i class="fas fa-compass mr-2" style="color:#FB743C;"></i> <%= ship.address %>
            </div>
            <%= link_to "Learn more", ship_path(ship), class: "btn btn-success text-center btn-block"%>   </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to root_path(anchor: "category-container"), class: "btn btn-danger mb-4", style: "font-size: 16px" do %>
    Back to boat categories <i class="fas fa-anchor" style="padding-left: 10px;"></i>
  <% end %>
</div>
