<div class='container'>
  <% if @ships[0].nil? %>
    <div class="d-flex flex-column align-items-center">
      <h3 class="mb-4" style="text-align: center; margin-top: 50px">There are no boats in this category yet... 🔜</h1>
      <img style="margin: auto;" src="https://media.giphy.com/media/cjzkCDL3jZTZB6ki1B/giphy.gif">
    </div>
  <% else %>
    <h1 class="mt-4 mb-3" style="text-align: center;"><%= @ships[0].category %>s</h1>
  <% end %>
  <div class="row row-cols-4 justify-content-center">
    <% @ships.each do |ship| %>
      <div class="card col mx-4 mb-4" style="width: 18rem;">
        <img class="card-img-top" src="<%= image_path("ships/barque_police_01.jpg") %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= ship.name %></h5>
          <div class="card-footer text-muted">
            <p><%= ship.category %> <%= ship.daily_price%>€ la journée</p>
            <p><%= ship.address %>, Spot: <%= ship.docking_number %></p>
          </div>
          <%= link_to "Learn more", ship_path(ship), class: "btn btn-success mt-3"%>   </div>
      </div>
      <div class="card col mx-4 mb-4" style="width: 18rem;">
        <img class="card-img-top" src="<%= image_path("ships/barque_11.jpg") %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rico Rico</h5>
          <div class="card-footer text-muted">
            <p><%= ship.category %> 2,40€ la journée</p>
            <p>Carthagène, Colombie, Spot: 56</p>
          </div>
          <%= link_to "Learn more", ship_path(ship), class: "btn btn-success mt-3"%>   </div>
      </div>
      <div class="card col mx-4 mb-4" style="width: 18rem;">
        <img class="card-img-top" src="<%= image_path("ships/barque_6.jpg") %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Casimir</h5>
          <div class="card-footer text-muted">
            <p><%= ship.category %> 69€ la journée</p>
            <p>Lac Ontario, Canada, <br>Spot: 27</p>
          </div>
          <%= link_to "Learn more", ship_path(ship), class: "btn btn-success mt-3"%>   </div>
      </div>
    <% end %>
  </div>
</div>
