<div class="container">
  <div class="row justify-content-md-center">
      <%# CAROUSEL %>
      <div class="col-sm-6">  <%= simple_form_for @ship do |f| %>
          <%= f.input :name %>
          <%= f.input :category, :collection => ["Boat", "Cruise", "Pirate boat", "Yacht", "Pedal boat", "Rowboat", "Bark", "Catamaran", "Countainer carrier", "Paper boat", "Flamingo boat", "Vessel", "Sailboat", "Optimist", "Laser", "Sailing Regatta", "Jet Boats", "Cabin Cruisers"] %>
          <%= f.input :daily_price %>
          <%= f.input :address %>
          <%= f.input :docking_number %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, "Add Boat", class: "btn btn-primary btn-lg btn-block btn-booking" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>