<div class="container">
  <div class="row my-3">
    <%# CAROUSEL %>
    <div class="col-sm-6">
      <%= render "shared/carousel" %>
    </div>
    <%# SHIP INFO %>
    <div class="col-sm-6">
      <div class="row">
        <div class="col">
          <h1><%= @ship.name %></h1>
        </div>
        <div class="col">
          <%# if current_user %>
          <%= link_to ships_path, method: :delete, class: "btn btn-primary btn-sm" do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= link_to ships_path, method: :delete, class: "btn btn-primary btn-sm" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          <%# end %>
        </div>
      </div>
      <p><strong>Category:</strong> <%= @ship.category %></p>
      <p><strong>Daily price:</strong> <%= @ship.daily_price %></p>
      <p><strong>City:</strong> <%= @ship.city %></p>
      <p><strong>Docking number:</strong>r <%= @ship.docking_number %></p>
    </div>
  </div>
  <%# SHIP DESCRIPTION %>
  <div class="row mx-0">
    <p><strong>Description:</strong> <%= @ship.description %></p>
  </div>

  <%= link_to ships_path, class: "btn btn-secondary" do %>
    Back to ships list <i class="fas fa-anchor"></i>
  <% end %>


  <%= simple_form_for [@ship, @booking] do |f| %>
    <%= f.input :start_date, as: :date, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
    <%= f.input :end_date, as: :date, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
    <%= f.button :submit, "Book", class: "btn btn-primary btn-lg btn-block btn-booking" %>
  <% end %>

</div>
