<div class="container">
  <div class="d-flex">
    <div class="p-5">
      <div class="row my-3">
        <%# CAROUSEL %>
        <div class="col-sm-6">
          <%= render "shared/carousel", ship: @ship %>
        </div>
        <%# SHIP INFO %>
        <div class="col-sm-6">
          <div class="row">
            <div class="col">
              <h1><%= @ship.name %></h1>
            </div>
          </div>
          <p><i class="fas fa-ship mr-2" style="color:#FB743C;"></i> <%= @ship.category %></p>
          <p><i class="fas fa-coins mr-2" style="color:#FB743C;"></i> <%= @ship.daily_price %> € per day</p>
          <p><i class="fas fa-compass mr-2" style="color:#FB743C;"></i> <%= @ship.address %></p>
          <p><i class="fas fa-dharmachakra mr-2" style="color:#FB743C;"></i> dock <%= @ship.docking_number %></p>
        </div>
      </div>
      <%# SHIP DESCRIPTION %>
      <div class="row mx-0">
        <p class="text-justify"><strong>Description:</strong> <%= @ship.description %></p>
      </div>
      <%# MAPBOX %>
      <div id="map" class="mb-4"
        style="width: 100%; height: 400px; border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,0.1);"
        data-marker="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <%# LINKS %>
      <% if @ship.user != current_user%>
        <div class="row mx-0 mb-4">
          <%= link_to root_path, class: "btn btn-danger" do %>
            Make another search <i class="fas fa-anchor"></i>
          <% end %>
        </div>
      <% else %>
        <div class="row mx-0 mb-4">
          <%= link_to dashboard_path, class: "btn btn-danger" do %>
            Dashboard <i class="fas fa-anchor"></i>
          <% end %>
        </div>
      <% end %>

    </div>
    <%# BOOKING %>
    <div class='mb-4 booking-card'>
      <%= simple_form_for [@ship, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true, label: "Boarding" %>
        <%= f.input :end_date, as: :date, html5: true, label: "Landing" %>
        <%= f.button :submit, "Book", class: "btn btn-success btn-lg btn-block btn-booking" %>
      <% end %>
    </div>
  </div>

</div>
